@font-face {
  font-family: 'Muller Next Expanded Trial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial Regular'), url('MullerNextExpandedTrial-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial Regular Italic'), url('MullerNextExpandedTrial-RegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial Thin'), url('MullerNextExpandedTrial-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial Thin Italic'), url('MullerNextExpandedTrial-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial ExtraBold'), url('MullerNextExpandedTrial-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial ExtraBold Italic'), url('MullerNextExpandedTrial-ExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial Heavy'), url('MullerNextExpandedTrial-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Expanded Trial Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Expanded Trial Heavy Italic'), url('MullerNextExpandedTrial-HeavyItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial Regular'), url('MullerNextExtraCondTrial-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial Regular'), url('MullerNextTrial-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial Regular'), url('MullerNextWideTrial-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial Regular Italic'), url('MullerNextExtraCondTrial-RegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial Regular Italic'), url('MullerNextTrial-RegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial Regular Italic'), url('MullerNextWideTrial-RegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial Thin'), url('MullerNextExtraCondTrial-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial Thin'), url('MullerNextTrial-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial Thin'), url('MullerNextWideTrial-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial Thin Italic'), url('MullerNextExtraCondTrial-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial Thin Italic'), url('MullerNextTrial-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial Thin Italic'), url('MullerNextWideTrial-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial ExtraBold'), url('MullerNextExtraCondTrial-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial ExtraBold'), url('MullerNextTrial-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial ExtraBold'), url('MullerNextWideTrial-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial ExtraBold Italic'), url('MullerNextExtraCondTrial-ExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial ExtraBold Italic'), url('MullerNextTrial-ExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial ExtraBold Italic'), url('MullerNextWideTrial-ExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial Heavy'), url('MullerNextExtraCondTrial-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial Heavy'), url('MullerNextTrial-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial Heavy'), url('MullerNextWideTrial-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next ExtraCond Trial Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next ExtraCond Trial Heavy Italic'), url('MullerNextExtraCondTrial-HeavyItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Trial Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Trial Heavy Italic'), url('MullerNextTrial-HeavyItalic.woff') format('woff');
}


@font-face {
  font-family: 'Muller Next Wide Trial Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muller Next Wide Trial Heavy Italic'), url('MullerNextWideTrial-HeavyItalic.woff') format('woff');
}