@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Nasalization";
  src: url("../src/nasalization-rg.otf") format("opentype");
  font-weight:normal;
}
/* @font-face {
  font-family: "Muller-Trial";
  src: url("./fonts/Muller-Trial-Regular.woff2") format("woff2"),
    url("./fonts/Muller-Trial-Regular.woff") format("woff");
  font-weight: normal;
 }

 @font-face {
  font-family: "Muller-Trial";
  src: url("./fonts/Muller-Trial-Bold.woff2") format("woff2"),
    url("./fonts/Muller-Trial-Bold.woff") format("woff");
  font-weight: bold;
 } */

:root{
  --color-dark: #000;
  --color-light: #fefefe;
  --color-accent: #242D53;
  --color-accent-rgba: rgba(36, 45, 83, 0.2);
  --color-accent-blue: #5E88C5;

  --transition-duration: .3s;
  --transition-timing-function: ease-in;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Montserrat", serif;

  background-color: var(--color-light);

}

img{
  display: inline-block;
}

a{
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

button{
  cursor: pointer;
  border: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}


.container{
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;

  overflow: hidden;

}

.no-overflow{
  overflow: visible;
}

.button{
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
}

.button__accent__light{
  position: relative;

  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;

  background-color: var(--color-light);

  border: 1px solid var(--color-accent);

  color: var(--color-accent);
  font-size: 1.6rem;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.button__accent__light:hover{
  color: var(--color-light);
}

.button__accent__light>*{
  z-index: 1;
}

.button__accent__light::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;
  box-shadow: inset 0px 0px 0px 0px var(--color-accent);

  border-radius: 100%;

  opacity:1;

  transform: scale(1.5);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  
  z-index: 0;
}

.button__accent__light:hover::before{
  box-shadow: inset 0px 0px 20px 30px var(--color-accent);
  border-radius: 100%;
  opacity:1;
}


.button__accent{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--color-accent-blue);
  color: var(--color-light);

  overflow: hidden;

}

.button__accent>span{
  z-index: 1;
}

.button__accent:hover{
  color: var(--color-light);
}

.button__accent::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;
  box-shadow: inset 0px 0px 20px 30px var(--color-accent);
  
  border-radius: 100%;


  transform: scale(1.5);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  
  z-index: 0;
}

.button__accent:hover::before{
  box-shadow: inset 0px 0px 0px 0px var(--color-accent-blue);
  border-radius: 100%;
}

.section__title{
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.9rem;

  color: var(--color-accent);
}
.section__title a{
  color: var(--color-accent);
}

.section__title__link{
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.section__title__arrow{
}

.section__title__counter{

  display: flex;
  width: 4.8rem;
  height: 4.8rem;

  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: #fff;
  font-size: 3rem;
  
  background-color: var(--color-accent);
  color: var(--color-light);
}

.card{
  display: flex;
  flex-direction: column;

  width: 32.4rem;

  font-size: 1.6rem;
  line-height: 1.8rem;

}

.card_shadow{
  box-shadow:  0 8px 24px 0 var(--color-accent-rgba);
}

.card__preview{
  width: inherit;
  overflow: hidden;
}

.card img{
  display: block;
  width: 100%;
  height: 25.2rem;

  object-fit:cover;
}

.card__content{
  margin: 1.6rem 0 0 0;
}

.card__timestamp{
  margin-bottom: 0.8rem;
}

.card__title{
  font-weight: 700;

  margin-bottom: 1.6rem;

  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.card__exit{
  position: absolute;

  top: 0.8rem;
  right: 0.8rem;

  width: 20px;
  height: 20px;

  background-image: url(../src/icon/card_exit.svg);

  cursor: pointer;
  z-index: 10;
}

.card__desc{
  height: 7.2rem;
  margin-bottom: 1.6rem;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.card__button{
  width: 100%;
}

.burger{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20%;
  right: 5%;

  width: 48px;
  height: 48px;
  background-color: var(--color-accent);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  z-index: 100;

}

.burger span{
  position: relative;
  display: flex;
  width: 27px;
  height: 3px;

  background-color: var(--color-light);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.burger::before,
.burger::after{
  content: "";
  display: flex;
  position: absolute;

  width: 27px;
  height: 3px;

  background-color: var(--color-light);

  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

.burger::before{
  top: 14px;
}

.burger::after{
  bottom: 13px;
}

.burger.active{
  bottom: 85%;
  right: 80%;

  background-color: transparent;
}

.burger.active span{
  transform: scaleX(0);
}

.burger.active::before{
  top: 22px;
  transform: rotate(45deg) scale(1.4)
}

.burger.active::after{
  bottom: 23px;
  transform: rotate(-45deg) scale(1.4)
}

/* .card__button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  background-color: var(--color-accent);
  color: var(--color-light);

  overflow: hidden;
}

.card__button>span{
  z-index: 1;
}

.card__button:hover{

}

.card__button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-accent-blue);
  box-shadow: 0px 0px 10px 20px var(--color-accent-blue);
  
  border-radius: 50%;

  opacity:0;

  transform: scaleY(0.1) scaleX(0.7);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  
  z-index: 0;
}

.card__button:hover::before{
  box-shadow: 0px 0px 50px 50px var(--color-accent-blue);
  border-radius: 0;
  opacity:1;
  transform: scale(1);
} */

.header{
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;

  padding: 3.6rem 0;

  top: 0;
  background-color: var(--color-light);
  color: var(--color-accent);
  z-index: 10;
}

.header__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.6rem;
}

.header__main-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.3rem;
}

.header__contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;

  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.header__contacts>div{
  display: flex;
  gap: 9px;
}

.header__contacts a{
  display: block;
  color: var(--color-accent);
}

.header__navbar{
  text-transform: uppercase;
  font-weight: 700;
}

.header__navbar__list{
  display: flex;
  justify-content: space-between;
  
  list-style: none;

  font-size: 2.6rem;
}

.header__navbar__list__divider{
  display: flex;
  width: 1px;
  height: 2.7rem;
  background-color: var(--color-accent);
}

.header__navbar__list__link{
  position: relative;
  
  display: flex;
  justify-content: center;

  color: var(--color-accent);

  transition-duration: .2s;
  transition-timing-function: var(--transition-timing-function);
}

.header__navbar__list__item{
  position: relative;
  display: flex;
  padding-bottom: 3px;

}
/* 
.header__navbar__list__item::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  width: 100%;
  height: 3px;

  background-color: var(--color-accent);

  transform: scaleX(0);
  transform-origin: left;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  z-index: 20;
} */

.header__navbar__list__link:hover{
  color: var(--color-accent-blue);
}
/* 
.header__navbar__list__link:hover>.header__navbar__list__item::after{
  transform: scaleX(1);
} */


.header__nav-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
}

.header__title{
  display: flex;
  width: 100%;
  justify-content: center;

  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}


.header__links{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding-right: 24px;
  gap: 6.5rem;
}

.header__links-social{
  display: flex;
  gap: 6.5rem;
}

.header__logo{
  display: flex;
  align-items: center;
}

.header__logo_link{
  display: flex;
  align-items: start;
  height: 6.5rem;
  gap: 1.5rem;
}

.header__logo img {
  display: inline-block;
  width: 6.5rem;
}

.header__logo__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;

  font-family: 'Nasalization';
  color: var(--color-accent);
}

.header__logo__title{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.6rem;

  font-size: 4.8rem;
  text-transform: uppercase;
}

.header__logo__subtitle{
  display: flex;
  align-items: end;
  justify-content: center;

  height: 2.9rem;
  width: 100%;
  display: flex;
  font-size: 1.8rem;

}


.main{
  position: relative;
}

.button-up{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 84px;
  right: 20px;
  
  width: 64px;
  height: 64px;

  background-color: var(--color-accent);

  box-shadow: 0 0px 10px 1px var(--color-accent-blue);
  z-index: 100;
}

.button-up:hover{
  background-color: var(--color-accent-blue);
}

.banner{
  position: relative;
  
  height: 72rem;
  
  color: var(--color-light);

  overflow: hidden;

}

.banner__inner__img{
  position: absolute;

  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.news__banner{
  background: none;
  overflow: hidden;
}

.news__carousel{
  height: 100%;

}

.news__carousel .news__carousel__cards{
  display: flex;
  gap: 0;
  height: 100%;
}

.news__carousel-item{
  width: 100vw;
  height: 100%;
}

.news__carousel-item__wrapper{
  width: 100vw;
}

.news__banner__background{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100%;
  z-index: -1;
  
}

.news__banner__background img{
  display: flex;
  width: 100vw;

  object-fit: cover;
}

.news__carousel__pagination{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.news__carousel__pagination .carousel__pagination_point__item{
  border: 2px solid var(--color-accent);
  background: var(--color-light);
}

.news__carousel__pagination *{
  display: none;
}

.banner__wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 41rem;
  z-index: 100;
}

.banner__timestamp{
  display: flex;
}

.banner__title{
  width: 72.8rem;

  font-size: 4.8rem;
  line-height: 5.4rem;
  font-weight: 700;
}

.banner__button{
  width: fit-content;
  margin-top: 1.6rem;
}

.company{
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.company__row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;

  width: 100%;
  height: 36rem;
}

.company__column{
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  transition-duration: .8s;
  transition-timing-function: var(--transition-timing-function);
}

.company__row:first-child .company__column__left{
  transform: translate(-100%, -100%);
}

.company__row:first-child .company__column__right{
  transform: translate(100%, -100%);
}

.company.visible .company__row:first-child .company__column__left{
  transform: translate(0, 0);
}

.company.visible .company__row:first-child .company__column__right{
  transform: translate(0, 0);
}

.company__row:last-child .company__column__left{
  transform: translate(-100%, 100%);
}

.company__row:last-child .company__column__right{
  transform: translate(100%, 100%);
}

.company.visible .company__row:last-child .company__column__left{
  transform: translate(0, 0);
}

.company.visible .company__row:last-child .company__column__right{
  transform: translate(0, 0);
}

.company__column__img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.company__column__wrapper{
  padding: 3.3rem 1.6rem;
  height: 100%;
}

.company__column__content{
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.company__column__text{
  display: flex;
  height: 100%;
  align-items: center;
}

.company__title{
  margin-bottom: 3.6rem;
}

.sertificates{
  margin-bottom: 64px;
}

.sertificates__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

}

.sertificates__inner{
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 32px 0 24px 0;
}

.sertificates__inner>div{
  display: flex;
  width: 49.5%;
  justify-content: space-between;
  transition-duration: .8s;
}

.sertificates__inner>div:nth-child(1){
  transform: translate(-120%, 0);
}

.sertificates__inner>div:nth-child(2){
  transform: translate(120%, 0);
}

.sertificates__inner.visible>div:nth-child(1){
  transform: translate(0, 0);
}

.sertificates__inner.visible>div:nth-child(2){
  transform: translate(0, 0);
}

.sertificates__item{
  width: 49%;
}

.sertificates__item img{
  width: 100%;
}

.sertificates__button{
  width: 24rem;
  height: 4.8rem;
  padding: 12px 0;
}

/* .sertificates__button{
  position: relative;

  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;

  width: 24rem;
  height: 4.8rem;
  padding: 12px 0;

  background-color: transparent;

  border: 1px solid var(--color-accent);

  color: var(--color-accent);
  font-size: 1.6rem;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.sertificates__button:hover{
  color: var(--color-light);
}

.sertificates__button>*{
  z-index: 2;
}

.sertificates__button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-accent);
  box-shadow: 0px 0px 10px 20px var(--color-accent);
  
  border-radius: 50%;

  opacity:0;

  transform: scaleY(0.1) scaleX(0.7);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  
  z-index: 0;
}

.sertificates__button:hover::before{
  box-shadow: 0px 0px 50px 50px var(--color-accent);
  border-radius: 0;
  opacity:1;
  transform: scale(1);
} */

.projects{
}

.projects__wrapper{
  padding: 3.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__map{
  position: relative;
}

.projects__map__inner{
  display: block;

  width: 100%;
  height: 100%;

}

.projects__map__location{
  display: block;


}

.project__map__item{

  position: absolute;

}

.project__map__item.p1{
  top: 50%;
  left: 20%;
}
.project__map__item.p2{
  top: 50%;
  left: 40%;
}

.project__map__item__button{
  
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;
  outline: none;
}

.project__map__item__inner{
  position: absolute;
  top: 100%;
  left: 100%;

  display: hidden;

  opacity: 0;

  transform:translate(-50%,-50%);
  transform-origin: left;

  
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  z-index: -1;
}

.project__map__item__inner.active{
  display: flex;
  opacity: 1;
  z-index: 1;
  
}

.project__map__card{
  background-color: var(--color-light);
}

.project__map__card__desc{
  margin-bottom: 4.8rem;
}

.project__carousel__pagination{
  position: absolute;
  bottom: 5.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer{
  height: 400px;
}

.products{
  min-height: 71.5rem;
  padding-top: 6.4rem;

  padding: 6.4rem 2rem;

  overflow: hidden;

  color: var(--color-accent);

  margin-bottom: 64px;
}

.products__title{
  margin-bottom: 3.6rem;
}

.carousel{
  overflow: hidden;
}

.carousel__cards{
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  width: 100%;

  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}

.carousel__pagination{
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.carousel__pagination_point{
  display: flex;
}

.carousel__pagination_point__item{
  cursor: pointer;
  display: flex;

  justify-content: center;
  align-items: center;

  height: 24px;
  width: 24px;

  border-radius: 50%;  

  background-color: var(--color-accent);

  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-light);
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}


.carousel__pagination_arrow{
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 1.8rem;
}

.carousel__pagination-prev,
.carousel__pagination-next{
  display: flex;
  width: 5.2rem;
  height: 5.2rem;

  cursor: pointer;

  justify-content: center;
  align-items: center;

  background-color: var(--color-accent);

  color: var(--color-light);
  font-size: 2.5rem;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.carousel__pagination-prev.disabled,
.carousel__pagination-next.disabled{
  background-color: var(--color-accent-blue);
}

.carousel__pagination-prev:hover,
.carousel__pagination-next:hover{
  background-color: var(--color-accent-blue);
}

.footer{
  height: 29.4rem;
  padding: 6rem 0;

  background-color: var(--color-accent);

  font-size: 2.6rem;
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 17.4rem;
}

.footer__wrapper a{
  color: var(--color-light);
}

.footer__divider{
  display: flex;
  width: 1px;
  height: 100%;
  background-color: var(--color-light);
  opacity: 0.6;
}

.footer__navbar{
  height: 100%;
}

.footer__navbar__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  
  list-style: none;
  text-transform: uppercase;

  font-weight: 700;
}

.footer__contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 100%;
}

.footer__contacts div{
  display: flex;
  gap: 0.6rem;
}

.footer__logo__text{
  color: var(--color-light);
}

.news{
  padding: 2rem 0 7.1rem 0;
}

.news__subtitle{
  width: 51rem;

  margin-top: 1.6rem;

  font-size: 1.6rem;
  font-weight: 400;
}

.news__grid{
  margin-top: 3.6rem;
  margin-bottom: 4rem;
}

.news__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem;

  margin: 2.4rem 0;
}

.news__button__wrapper,
.projects__button__wrapper
{
  display: flex;
  justify-content: center;
}

.news__button__more,
.projects__button__more{
  width: 24rem;
}

.project__map__carousel__cards{
  background-color: var(--color-light);
  gap: 0;
}

.project__carousel__pagination{
  position: absolute;
  z-index: 10;
}


.news-content__wrapper{
  padding: 6.4rem 0 4.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 6.1rem;
}


.news-content__paragraph{
  text-align: justify;
  text-indent: 8rem;
}

.news-content__buttons{
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.news-content__buttons>.button{
  width: 24rem;
}
.news-content__buttons>.button>span{
  display: flex;
  gap: 0.6rem;
}

.card__title_news{
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 3 ;
  -webkit-line-clamp: 3 ;
  line-clamp: 3 ;
  display: -webkit-box;
  display: box;
  word-wrap: break-word ;
  -webkit-box-orient: vertical ;
  box-orient: vertical ;
}


.products,
.projects{
  padding: 2rem 0 7.1rem 0;
}

.products__grid,
.projects__grid{
  margin-top: 3.6rem;
  margin-bottom: 4rem;
}

.products__row,
.projects__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem;

  margin: 2.4rem 0;
}

.products__row2{
  display: flex;
  gap: 2.4rem;
  
}

.product__filters,
.filters{
  display: flex;

  padding-top: 1.6rem;

  gap: 2.4rem;
}

.product__filters__area,
.filters__area{
  cursor: pointer;
  position: relative;
  display: flex;
  flex: row;

  justify-content: space-between;

  width: 32.4rem;

  padding: 1.2rem 1.6rem;

  border: 2px solid var(--color-accent);

  font-size: 1.6rem;
  color: var(--color-accent);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);



}

.product__filters__dropdown,
.filters__dropdown{
  cursor: default;
  position: absolute;
  display: flex;
  top: 100%;
  right: -2px;
  left: -2px;
  
  flex-direction: column;

  gap: 0.9rem;

  
  padding: .8rem 1.6rem 1.8rem;

  background-color: var(--color-accent);

  color: var(--color-light);

  box-shadow: 0 0 20px 5px var(--color-accent);

  transform: scaleY(0%);
  opacity: 0;

  transform-origin: top;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.product__filters__dropdown::before,
.filters__dropdown::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  height: 1px;
  width: 90%;
  background-color: var(--color-light);
  opacity: 0.4;
}

.product__filters__area.active,
.filters__area.active{
  background-color: var(--color-accent);
  color: var(--color-light);
  box-shadow: 0 0 20px 5px var(--color-accent);

  
}
.product__filters__icon > i,
.filters__icon > i{
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.product__filters__area.active .product__filters__icon > i,
.filters__area.active .filters__icon > i{
  transform: scaleY(-100%);
}

.product__filters__area.active .product__filters__dropdown,
.filters__area.active .filters__dropdown{
  transform: scaleY(100%);
  opacity: 1;
}

.product__filters__item,
.filters__item{
  display: inline-block;
  gap: 0.8rem;
}

.product__filters__item *,
.filters__item *{
  cursor: pointer;
}

.product__filter__item__checkbox,
.filter__item__checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.product__filters__item__text::before,
.filters__item__text::before{
  content: "";
  display: inline-flex;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.8rem;
  border: 2px solid var(--color-accent);
  border-radius: 0.25rem;
  background-color: var(--color-light);
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: 70%;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.product__filter__item__checkbox:checked+.product__filters__item__text::before,
.filter__item__checkbox:checked+.filters__item__text::before{
  background-color: transparent;
  background-image: url("");
  border: 2px solid var(--color-light);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.project,
.product{
  color: var(--color-accent);
  padding: 2rem 0;
}

.project__wrapper{
  margin-top: 3.6rem;
  display: flex;

  border: 1px solid var(--color-accent);
  
  max-height: 42.2rem;
  
}

.project__preview,
.product__preview{
  flex: 1;
  width: 50%;
}

.project__preview img,
.product__preview img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: full;
}

.project__content{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  overflow: hidden;

}

.project__content__title{
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.project__desc{
  
  max-height: 31.5rem;
  overflow: hidden;
}

.project__desc__paragraph{
  font-size: 1.6rem;
  text-align:justify;
  text-indent: 8rem;
}

.project__location{
  margin-top: auto;
  text-transform: uppercase;
  font-weight: 700;
}

.product__wrapper{
  display: flex;
  margin-top: 3.6rem;
}

.product__wrapper>div{
  flex: 1;
}

.product__preview img{
  height: auto;
}

.product__desc{
  padding: 1.6rem;
}

.product__props{
  position: relative;
  margin-top: 2.4rem;
}

.product__props__title{
  cursor: pointer;
  font-weight: 700;
  z-index: 2;
}

.product__props i{
  transform: scaleY(100%);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.product__props__dropdown{
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  z-index: -1;

  transform-origin: top;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.product__props.active .product__props__dropdown{
  display: flex;
  max-height: 80vh;
  position: relative;
  
  opacity: 1;
}

.product__props.active i{
  transform: scaleY(-100%);
}

.product__props__list{
  list-style-type: none;
  padding-left: 2.4rem;
}

.product__props__list__item{
  position: relative;
  line-height: 2.4rem;
}

.product__props__list__item::before{
  content: "";
  position: absolute;
  top: 1.2rem;
  left: -1.2rem;
  transform: translateX(-50%) translateY(-50%);

  width: 0.3rem;
  height: 0.3rem;

  border-radius: 50%;
  background-color: var(--color-accent);
}

.product__download__wrapper{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-top: 2.4rem;
}

.product__download__wrapper i{
  font-size: 2.5rem;
}


.product__download__wrapper *{
  color: var(--color-accent);
  font-weight: 700;
  cursor: pointer;
}

.product__download__area{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  

  gap: 1.6rem;

  
  width: max-content;
  padding: 2.1rem 4rem 2.1rem 2rem;
  
  background-color: #e5e5e5;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.product__download__area::after{
  content: "";
  position: absolute;
  display: block;

  width: 1.6rem;
  height: 1.6rem;

  top: 0;
  right: 0;

  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(217,217,217,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.product__download__area:hover{
  transform: translateX(10%);
}

.product__download__area a{
  cursor: pointer;
}

.about-us{
  background-color: var(--color-accent);
  padding: 6.4rem 3.6rem;
  color: var(--color-light);
  margin-bottom: 3.6rem;
}

.about-us__title{
  font-size: 3.6rem;
}

.about-us__desc{
  display: flex;
  flex-direction: column;

  gap: 3.6rem;
  margin-top: 6.4rem;
}

.about-us__text{
  font-size: 2rem;
  line-height: 140%;
}

.about-us__info{
  display: flex;
  justify-content: space-around;
}

.about-us__info__item{
  display: flex;
  flex-direction: column;
}

.about-us__info__item__accent{
  font-size: 9.6rem;
  line-height: 9.6rem;
  font-weight: 700;
}

.about-us__info__item__text{
  display: flex;
  align-self: end;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

.download{
  margin-bottom: 6.4rem;
}

.download__wrapper{
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}

.download__area{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  

  gap: 1.6rem;

  
  width: max-content;
  padding: 2.1rem 4rem 2.1rem 2rem;
  
  background-color: #e5e5e5;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.download__area::after{
  content: "";
  position: absolute;
  display: block;

  width: 1.6rem;
  height: 1.6rem;

  top: 0;
  right: 0;

  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(217,217,217,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.download__area i{
  font-size: 2.5rem;
  color: var(--color-accent);
}

.download__area a{
  color: var(--color-accent);
  font-weight: 700;
}

.team__inner{
  display: flex;
  flex-direction: column;
  gap: 3.6rem;

  margin: 6.4rem 0;
}

.team__preview{
  max-height: 70rem;
  overflow: hidden;
}

.team__preview__img{
  width: 100%;
  object-fit: contain;
}

.team__content{
  font-size: 1.8rem;
  line-height: 140%;
}

.team__card .card__preview img{
  height: 42.6rem;
}

.team__card .card__title{
  font-weight: 700;

  margin-bottom: 1.6rem;

  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.team__card .card__desc{
  height: 3.6rem;
  margin-bottom: 1.6rem;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.structure__wrapper{
  margin: 6.4rem 0;
}

.structure__inner{
  display: flex;
  gap: 0;
}

.structure__item{
  position: relative;
  display: flex;
  flex: 1;
}

.structure__item__img{
  display: block;
  filter: brightness(.5);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.structure__item:hover .structure__item__img{
  filter: brightness(.8);
}

.structure__item__title{
  position: absolute;

  bottom: 3.6rem;
  left: 50%;
  transform: translateX(-50%);


  line-height: 2.4rem;
  font-weight: 700;
  color: var(--color-light);

}

.partners__inner{
  margin: 6.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1400px){
  .container{
    max-width: 1140px;
  }

}

@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }

}

@media (max-width: 992px){
  .container{
    max-width: 720px;
  }

  .header__logo img {
    display: inline-block;
  }

  .sertificates{
    margin-bottom: 64px;
  }
  
  .sertificates__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
  
  }
  
  .sertificates__inner{
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    padding: 32px 0 24px 0;
    
    gap: 20px;
    
    overflow-x: scroll;
  }
  
  .sertificates__inner>div{
    display: flex;
    justify-content: space-between;
    
    width: fit-content;
    
    gap: 20px;
    
    transition-duration: .8s;
  }

  .sertificates__item{
    width: 232px;
  }

  .footer__navbar{
    display: none;
  }

  .footer__divider{
    display: none;
  }

  .footer__contacts{
    font-size: 2.2rem;
  }
}

@media (max-width: 768px ){
  html{
    font-size: 50%;
  }

  .container{
    max-width: 540px;
  }

  .company__row{
    flex-wrap: wrap;
    height: auto;
  }

  .company__row:first-child{
    flex-direction: column-reverse;
  }
  
  .company__row:last-child{
    flex-direction: column;
  }

  .company__column__wrapper{
    padding: 3.3rem 0;

  }

}

@media (max-width: 576px ){

  html{
    font-size: 43.75%;
  }
  .container{
    max-width: none;
  }

  .button-up{
    display: none;
  }

  .burger{
    display: flex;
  }

  .card{
    width: 250px;
  }

  .header{
    position: fixed;
    background: linear-gradient(180deg, rgba(36,45,83,1) 0%, rgba(80,100,185,0) 100%);
  }

  .header__main-menu{
    display: flex;
    justify-content: space-around;
  }

  .header__logo{
    z-index: 100;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in-out;
  }

  .header__logo.active{
    margin-top: 30%;
  }

  .header__logo__text{
    color: var(--color-light);
  }

  .header__contacts{
    display: none;
  }

  .header__navbar{
    position: absolute;
    width: 100%;
    height: 100vh;

    top: 0;
    left: -100%;

    padding-top: 75%;

    background-color: var(--color-accent);
    color: var(--color-light) !important;

    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in-out;
  }

  .header__navbar.active{
    left: 0;
  }


  .header__navbar__list{
    display: flex;
    flex-direction: column;
    gap: 48px;

    font-size: 3rem;
  }

  .header__navbar__list__divider{
    display: none;
  }

  .header__navbar__list__link{
    color: var(--color-light);
  }
  .banner{
    height: 100vh;
  }

  .banner__title{
    width: 280px;
  }

  .banner__wrapper{
    padding-inline: 3.6rem;
  }

  .company__column__wrapper{
    padding-inline: 16px;
  }
  


  .sertificates__button{
    width: 100%;
    font-size: 2.2rem;
    padding: 1.5rem auto;
  }


  .project__map__item__inner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(0);

  }

  .project__map__item__inner.active{
    z-index: 1000;
  }

  .project__map__carousel__cards{
    width: fit-content;
    height: 100vh;
  }

  .project__map__card{
    width: 100vw;
    height: 100vh;
  }

  .project__map__card .card__preview{
    height: 70vh;
  }

  .project__map__card .card__preview img{
    height: 100%;
  }

  .project__map__card .card__content{
    display: flex;
    flex-direction: column;
    height: 30vh;
  }

  .project__map__card__desc{
    margin-bottom: auto;
  }

  .carousel__pagination_arrow{
    display: none;
  }

  .products__carousel__cards{
    width: 100%;
    overflow-x: scroll;
  }

  .footer{
    height: fit-content;
  }

  .footer__wrapper{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    gap: 16px;
  }

  .footer__logo_link{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
  }

  .footer__logo_link .footer__logo__img{
    width: 82px;
  }

  .footer__contacts{
    gap: 16px;
  }

  .about-us{
    padding-top: 95px;
  }

  .about-us__info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us__info__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-us__info__item > div{
    align-self: center;
  }

  .about-us__info__item__accent{
    font-size: 7rem;
  }

  .download__wrapper,
  .team__title,
  .team__content,
  .team__carousel,
  .structure__title,
  .sertificates__title,
  .news__title,
  .sertificates__wrapper,
  .products__title,
  .products__carousel
  {
    padding-inline: 3.6rem;
  }


  .download__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download__wrapper > div{
    width: 100%;
    justify-content: start;
  }

  
  .structure__inner{
    display: flex;
    flex-direction: column;
  }

  .structure__item{
    width: 100%;
    height: 210px;
    flex: auto;
  }

  .structure__item img{
    width: 100%;
    object-fit: cover;
  }

  .structure__item span{
    font-size: 2rem;
  }

  .partners__inner{
    display: flex;
    flex-direction: column;
  }

  .team__carousel__cards{
    width: 100%;
    overflow-x: scroll;
  }

  .products__row,
  .news__row{
    justify-content: center;
    align-items: center;
    padding-inline: 3.6rem;
  }

  .products__row > .card,
  .projects__row > .card,
  .news__row > .card{
    width: 100%;
    height: 424px;
  }

  .products__row .card__prev,
  .projects__row .card__prev,
  .news__row .card__prev{
    display: flex;
    flex: 1;
  }

  .products__row .card__prev > img,
  .projects__row .card__prev > img,
  .news__row .card__prev > img{
    height: auto;
    object-fit: cover;
  }

  .projects{
    padding-top: 95px;
    padding-inline: 3.6rem;
  }

  .projects__filters{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .projects__filters > div{
    width: 100%;
  }

  .filters__area.active .projects__filters__dropdown{
    z-index: 1;
  }

  .projects__row{
    display: flex;
    flex-direction: column;
  }
}