{% load static %}

<section class="about-us scroll_animate">
    <div class="container">
        <div class="about-us__row">
            <div class="about-us__column about-us__column__left">
                <img src="{% static 'main/src/img/about-us-1.png' %}" class="about-us__column__img" alt="О компании">
            </div>
            <div class="about-us__column about-us__column__right">
                <div class="about-us__column__wrapper">
                    <h2 class="section__title about-us__title">
                        <a href="#" class="section__title__link about-us__title__link">О компании</a>
                    </h2>
                    <p class="about-us__column__content">
                        {{ about.description_1 }}
                    </p>
                </div>
            </div>
        </div>
        <div class="about-us__row">
            <div class="about-us__column about-us__column__left">
                <div class="about-us__column__wrapper">
                    <div class="about-us__column__text">
                        <p class="about-us__column__content">
                            {{ about.description_2 }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-us__column about-us__column__right">
                <img src="{% static 'main/src/img/about-us-2.png' %}" class="about-us__column__img" alt="О компании">
            </div>
        </div>
    </div>
</section>