<div class="about-us">
    <div class="container">
        <h2 class="about-us__title">О нас</h2>
        <div class="about-us__desc">
            <p class="about-us__text">{{ about_company.company_description }}</p>
            <div class="about-us__info">
                <div class="about-us__info__item">
                    <div class="about-us__info__item__accent">{{ years_in_market }}</div>
                    <div class="about-us__info__item__text">
                        {% if years_text %}
                            {{ years_text }}
                        {% else %}
                            Переменная years_text пуста!
                        {% endif %}
                    </div>
                </div>
                <div class="about-us__info__item">
                    <div class="about-us__info__item__accent">{{ project_count }}</div>
                    <div class="about-us__info__item__text">
                        {% if projects_text %}
                            {{ projects_text }}
                        {% else %}
                            Переменная projects_text пуста!
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
