<div class="about-us">
    <div class="container">
        <h2 class="about-us__title">О нас</h2>
        <div class="about-us__desc">
            <p class="about-us__text">{{ about_company.company_description }}</p>
            <div class="about-us__info">
                {% for stat in stats %}
                <div class="about-us__info__item">
                    <div class="about-us__info__item__accent">{{ stat.0 }}</div>
                    <div class="about-us__info__item__text">{{ stat.1 }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
