<section class="download">
    <div class="container">
        <div class="download__wrapper">
            {% for company_pdf in company_pdfs %}
                <a href="{{ company_pdf.file.url }}" class="download__area">
                    <i class="fa-solid fa-file-pdf"></i>
                    <span class="download__link">{{ company_pdf.name }}</span>
                </a>
            {% empty %}
                <p>Нет доступных PDF-файлов для загрузки.</p>
            {% endfor %}
        </div>
    </div>
</section>