{% load static %}
<section class="structure">
    <div class="container">
        <h2 class="section__title structure__title">
            <a href="#" class="section__title__link structure__title__link">
                Структура работ
            </a>
        </h2>
        <div class="structure__wrapper">
            <div class="structure__inner">
                <div class="structure__item">
                    <img src="{% static '/main/src/img/structure-1.png' %}" alt="" class="structure__item__img">
                    <span class="structure__item__title">Проектирование</span>
                </div>
                <div class="structure__item">
                    <img src="{% static 'main/src/img/structure-2.png' %}" alt="" class="structure__item__img">
                    <span class="structure__item__title">Производство</span>
                </div>
                <div class="structure__item">
                    <img src="{% static 'main/src/img/structure-3.png' %}" alt="" class="structure__item__img">
                    <span class="structure__item__title">Монтаж</span>
                </div>
                <div class="structure__item">
                    <img src="{% static 'main/src/img/structure-4.png' %}" alt="" class="structure__item__img">
                    <span class="structure__item__title">Сервис</span>
                </div>
                </div>
            </div>
        </div>
    </section>