{% extends 'main/base.html' %}
{% load static %}

{% block title %}О компании{% endblock %}

{% block content %}

<div class="identificator" data-page="about"></div>  

{% include 'includes_about_company/about_us.html' %}
{% include 'includes_about_company/download_section.html' %}
{% include 'includes_about_company/team_section.html' %}
{% include 'includes_about_company/structure_section.html' %}
{% include 'includes_index/sertificates.html' %}
{% include 'includes_about_company/partners_section.html' %}

{% endblock %}