{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная - Singeo{% endblock %}

{% block content %}
<div class="identificator" data-page="index"></div>  
<a href="#top" class="button-up">
    <img src="{% static 'main/src/icon/arrow_up.svg' %}" alt="Наверх" class="button-up__img">
</a>

{% include '../includes_index/banner.html' %}
{% include '../includes_index/about_us.html' %}
{% include '../includes_index/sertificates.html' %}
{% include '../includes_index/projects_index.html' %}
{% include '../includes_index/products_index.html' %}

{% endblock %}