{% extends 'main/base.html' %}

{% load static %}  <!-- Подключаем статические файлы -->

{% block title %}Новости - Singeo{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main/css/news.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'main/js/news.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="identificator" data-page="news"></div>  
<a href="#top" class="button-up">
    <img src="{% static 'main/src/icon/arrow_up.svg' %}" alt="Наверх" class="button-up__img">
</a>

{% if latest_news %}
<section class="banner">
    {% if latest_news.video %}
    <video class="banner__inner__img" autoplay muted loop>
        <source src="{{ latest_news.video.url }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>
    {% elif latest_news.images.count > 0 %}
        <img src="{{ latest_news.images.first.image.url }}" alt="Баннер" class="banner__inner__img">
    {% else %}
    <div class="banner__inner__img banner__inner__img--placeholder">
        <p>Нет медиа для отображения</p>
    </div>
    {% endif %}
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__timestamp">{{ latest_news.pub_date }}</div>
            <div class="banner__title">
                <a>{{ latest_news.name }}</a>
            </div>
        </div>
        <a href="{% url 'news_detail' latest_news.id %}" class="button button__accent banner__button">
            <span>Перейти к новости</span>
        </a>
    </div>
</section>

<section class="news">
    <div class="container no-overflow">
        <h2 class="section__title news__title">
            <a href="#" class="section__title__link">
                Новости
            </a>
        </h2>

        <div class="news__grid">
            <div class="news__row">
                {% for article in news %}
                    <div class="card">
                        <div class="card__prev">
                            {% if article.images.count > 0 %}
                                <img src="{{ article.images.first.image.url }}" alt="card__prev-img" class="news-image">
                            {% else %}
                                <p>Нет изображений</p>
                            {% endif %}
                        </div>
                        <div class="card__content ">
                            <div class="card__timestamp">{{ article.pub_date }}</div>
                            <div class="card__title card__title_news">{{ article.name }}</div>
                            <div class="card__desc">{{ article.text|truncatewords:30 }}</div>
                            <a href="{% url 'news_detail' article.id %}" class="button button__accent__light card__button">
                                <span>
                                    Читать дальше
                                </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="news__button__wrapper">
            <button class="button button__accent news__button__more">
                <span>
                    Показать больше
                </span>
            </button>
        </div>
    </div>
</section>
{% else %}
    <div>
        <p>Пока новостей нет</p>
    </div>
{% endif %}
{% endblock %}