{% extends 'main/base.html' %}

{% load static %}  <!-- Подключаем статические файлы -->

{% block title %}Продукция - Singeo{% endblock %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main/css/products.css' %}">
{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'main/js/products.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="identificator" data-page="products"></div>  
<section class="products">
    <div class="container no-overflow">
        <h2 class="section__title products__title">
            <a href="#" class="section__title__link">Продукция</a>
        </h2>

        <div class="products__grid">
            <div class="products__row">
                {% for product in products %}
                <div class="card">
                    <div class="card__prev">
                        <img src="{{ product.preview.url }}" alt="card__prev-img">
                    </div>
                    <div class="card__content">
                        <div class="card__title">{{ product.name }}</div>
                        <div class="card__desc">{{ product.short_description }}</div>
                        <a href="{% url 'product_detail' product.id %}" class="button button__accent card__button">
                            <span>Смотреть</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if products|length >= 12 %}
        <div class="news__button__wrapper">
            <button class="button button__accent products__button__more">
                <span>
                    Показать больше
                </span>
            </button>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}