{% load static %}

<section class="company scroll_animate">
    <div class="container">
        <div class="company__row">
            <div class="company__column company__column__left">
                <img src="{% static 'main/src/img/about-us-1.png' %}" class="company__column__img" alt="О компании">
            </div>
            <div class="company__column company__column__right">
                <div class="company__column__wrapper">
                    <h2 class="section__title company__title">
                        <a href="#" class="section__title__link company__title__link">О компании</a>
                    </h2>
                    <p class="company__column__content">
                        {{ about_index.description_1 }}
                    </p>
                </div>
            </div>
        </div>
        <div class="company__row">
            <div class="company__column company__column__left">
                <div class="company__column__wrapper">
                    <div class="company__column__text">
                        <p class="company__column__content">
                            {{ about_index.description_2 }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="company__column company__column__right">
                <img src="{% static 'main/src/img/about-us-2.png' %}" class="company__column__img" alt="О компании">
            </div>
        </div>
    </div>
</section>