{% load static %}

<section class="projects">
    <div class="container">
        <h2 class="section__title projects__title">
            <a href="#" class="section__title__link projects__title__link">Проекты</a>
        </h2>
    </div>

    <div class="projects__wrapper">
        <div class="projects__map">
            <img src="{% static 'main/src/img/map.png' %}" alt="Карта проектов" class="projects__map__inner">
            {% for region in regions %}
            <div class="project__map__item" 
                 style="left: {{ region.coords_x }}%; top: {{ region.coords_y }}%;"
            >
                <button class="project__map__item__button">
                    <img src="{% static 'main/src/icon/map_location.svg' %}" alt="Местоположение" class="projects__map__location">
                </button>

                <div class="project__map__item__wrapper">
                    <div class="project__map__item__inner project__map__carousel card__carousel carousel card">
                        <div class="project__map__item__button__close card__exit"></div>
                        
                        <div class="project__map__carousel__cards card__carousel__cards carousel__cards">
                            {% for project in region.projects.all %}
                            <div class="project__map__card carousel-item card">
                                <div class="project__map__item__preview">
                                    <img src="{{ project.image.url }}" alt="{{ project.title }}">
                                </div>
                                <div class="card__content">
                                    <div class="card__title">{{ project.title }}</div>
                                    <div class="card__desc">{{ project.description }}</div>
                                    <a href="{% url 'project_detail' project.id %}" class="button button__accent card__button">
                                        <span>Смотреть</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <div class="project__carousel__pagination card__carousel__pagination carousel__pagination carousel__pagination_point"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>